@import '../abstracts/mixins.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  font-size: 1.6rem;
  font-family: 'Lemonada', cursive;
}
